@charset "UTF-8";
/* DESKTOP and sup */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.page-container {
  display: block;
  height: auto;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0px;
  padding-top: 0.1em;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.bloc, main, .bloc .container, .section-form, .section-form .container {
  margin: auto;
  width: 95%;
}

header {
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 3em;
  margin-top: 2em;
}

.bloc .navbar {
  width: 94%;
  margin: auto;
}

.container-produits {
  width: 95%;
  height: auto;
  padding: 1em;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-produits .produit {
  width: 45%;
  align-self: center;
  align-content: center;
  margin-right: 3%;
  margin-bottom: 1em;
  padding-top: 0.2em;
  border: 1px solid #e6e6e6;
  background-color: gainsboro;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  border-bottom-right-radius: 1.51em;
  border-bottom-left-radius: 1.51em;
}
.container-produits .produit p {
  text-align: center;
}
.container-produits .produit h2 {
  margin: 0;
  font-size: 1.6em;
}
.container-produits .produit .description {
  margin: 0 1em 0 1em;
}
.container-produits .produit .price {
  font-weight: bold;
  font-size: 1em;
}
.container-produits .produit p {
  margin-bottom: 0em;
}
.container-produits .produit p img {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  width: 100%;
  height: 20em;
  padding: 0;
  margin-top: -1.11em;
  object-fit: cover;
}
.container-produits .produit .ahref {
  margin: 1em 0em 1.5em 0em;
}
.container-produits .produit a {
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.container-produits .produit a:hover {
  opacity: 0.7;
  border: 0.07em solid #aeaeae;
  font-size: 1em;
  color: #853f3f;
}

.produit-seul {
  border: 0.2em solid #eeeef5;
  width: 90%;
}
.produit-seul .produit {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.1em;
  margin: auto;
  border: 0.2em rgba(228, 225, 225, 0.1) solid;
}
.produit-seul .produit .photo {
  width: 100%;
  text-align: center;
  margin: auto;
}
.produit-seul .produit .photo img {
  border: 0.1em solid #f7f5f5;
  border-radius: 2em;
  object-fit: cover;
  padding: 0em 0em;
  height: 20em;
  margin: 0em -1em -0.5em -1em;
}
.produit-seul .produit .choix_couleur {
  text-align: center;
  font-size: 1em;
}
.produit-seul .produit .choix_couleur option {
  background-color: pink;
}
.produit-seul .produit .choix_couleur label {
  font-size: 1em;
  font-weight: bold;
}
.produit-seul .produit .description {
  margin: 0.2em 1em 0.2em 1em;
  padding: 0.5em;
  font-size: 1.1em;
  background-color: rgba(225, 225, 225, 0.31);
}
.produit-seul .produit .price {
  margin: 0.3em 0.2em 0.3em 0.5em;
  font-size: 1.2em;
  text-align: center;
  font-family: "Pangolin", sans-serif;
}
.produit-seul .produit .titre {
  font-size: 1.5em;
  margin: 0.3em 0.5em 0.2em 0.5em;
  font-family: "Pangolin", sans-serif;
}
.produit-seul .quantity {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.produit-seul .bloc {
  margin-top: 0;
  border-top-width: 60%;
  border-top: 0.01em dashed #281497;
}
.produit-seul .bloc .container {
  display: flex;
  flex-direction: row;
  background-color: rgba(180, 180, 180, 0.1);
  justify-content: space-around;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: -1em;
}
.produit-seul .bloc .container .btn {
  font-size: 1em;
}

.bloc .divbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

a {
  color: #000;
  text-decoration: none;
}

.container .card .table {
  width: 90%;
  margin: auto;
  background-color: white;
}
.container .card .table tr th {
  border: 2px solid black;
  font-size: 1.1em;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .card h2 {
  text-align: left;
  margin-left: 4em;
  font-size: 1.5em;
  text-decoration: underline;
}

.card .container {
  width: 80%;
}
.card .container .divbtn {
  display: block;
  margin: auto;
}

.card .container a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em auto;
  border-radius: 1em;
  height: auto;
  background-color: #fafafa;
}

/* formulaire form de panier*/
.section-form {
  width: 85%;
}
.section-form .container {
  width: 100%;
}
.section-form .container .form_1 {
  width: 95%;
  height: auto;
  margin: auto;
}

.panier {
  width: 70%;
  border: 0.1em dashed #0f0c0c;
}
.panier .divbtn {
  display: flex;
}
.panier .divbtn .btn {
  margin: 0.5em auto;
}

/* formulaire pour */
.form_1 .form-group {
  margin: auto;
  width: 80%;
  margin-bottom: 1em;
}
.form_1 .form-group label {
  font-size: 1.1em;
  margin-right: 1em;
  font-weight: bold;
}
.form_1 .form-group input {
  justify-content: center;
  padding: 0.2em 0.2em 0.2em 0.2em;
  border: 2px solid gray;
  text-align: center;
  border-radius: 0.2em;
  font-size: 1em;
  width: 100%;
}
.form_1 .divbtn {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}
.form_1 .divbtn .btn {
  margin: auto;
  text-align: center;
  margin: 0.51em auto 0.5em auto;
}
.form_1 .divbtn input {
  height: auto;
  display: flex;
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: 2px solid transparent;
  box-shadow: 0.2em 0.3em 0.4em solid gray;
  margin: auto;
  background: -webkit-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: -moz-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: -o-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
}
.form_1 .form-group:first-child {
  margin-top: 0.5em;
}

/* section page produit : quantité */
.quantity {
  display: block;
  margin: 1em auto;
}
.quantity .form_2 {
  margin: auto;
}
.quantity .form_2 .form-group {
  margin: auto;
  text-align: center;
}
.quantity .form_2 .form-group label {
  font-size: 1.3em;
  font-weight: bold;
}
.quantity .form_2 .form-group input {
  width: 4em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.51em;
  padding: 0.3em 0.2em;
}

/*button with backgcolor */
main {
  padding-bottom: 1em;
}
main .divbtn {
  display: flex;
  margin: auto;
}
main .divbtn .valid {
  display: block;
  flex-direction: row;
  text-align: center;
  margin: 0;
}

.produit {
  height: auto;
}
.produit .divbtn {
  margin-bottom: 1em;
}

.page-container main .btn {
  text-align: center;
  padding: 0.4em 0.7em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.51em;
  background: -webkit-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: -moz-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: -o-linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
  background: linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
}

.page-container main button:hover,
.page-container main .btn:hover {
  cursor: pointer;
  color: #000;
  opacity: 0.6;
}

h1 {
  text-align: center;
  width: 90%;
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

.btn-2 {
  padding: 0.3em 1em;
  background-color: #ece2e2;
  border: 1px solid #53535c;
  border-radius: 1em;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7em;
  padding: 0.5em 0.5em;
  margin: auto;
}

.navbar-header {
  width: 50%;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Pangolin", sans-serif;
}
.navbar-header p img {
  margin: 0.3em 0.5em 0.5em 1em;
  height: auto;
  object-fit: cover;
  display: inline-block;
  width: 20%;
}
.navbar-header .textorinoco {
  position: absolute;
  margin-top: 0.5em;
  display: inline;
  width: 20%;
  text-align: center;
  font-size: 3em;
  margin-left: 2%;
  font-family: "Pangolin", sans-serif;
}

.navbar-collapse {
  display: inline-block;
  padding: 0;
  width: 50%;
}

.navbar-nav {
  display: inline-block;
  flex-direction: row;
  margin-right: 1em;
  list-style-type: none;
}

.navbar .nav {
  padding-top: 2px;
  margin-right: 16px;
  float: right;
  list-style-type: none;
  z-index: 1;
}

.nav > li {
  float: left;
  font-size: 1.3em;
  margin-right: 0.5em;
  border-radius: 2em;
  padding: 0.3em 1em;
  background-color: rgba(241, 237, 237, 0.51);
  border: 2px solid #c4bfbf;
}

.nav > li:hover {
  border: 2px solid #405c86;
  box-shadow: 1px 2px 2px gray;
}

.navbar-nav .open .dropdown-menu > li > a {
  text-align: inherit;
}

.nav-item {
  background-color: rgba(190, 190, 190, 0.71);
}
.nav-item a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
}
.nav-item a .fas {
  margin-right: 0.2em;
  font-size: 0.81em;
}

.nav-item:hover {
  background-color: rgba(190, 190, 190, 0.41);
}

.nav > li a:hover,
.nav > li a:focus {
  opacity: 0.7;
}

.navbar-toggle:hover {
  background: gray !important;
}

.d-flex {
  border: 0.01em solid #dbd7d7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.d-flex .card {
  text-align: center;
  width: 45%;
  height: auto;
  border: 0.2em solid #7968a5;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 2%;
  height: auto;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  padding-bottom: 1em;
}

/* Special footer */
footer {
  display: flex;
  width: 95%;
  background-color: rgba(49, 19, 19, 0.2);
  border-radius: 1em;
  padding-bottom: 1em;
}
footer .social {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1em;
  border-bottom: 0.2em solid #d9dfdc;
}
footer .social .col-sm-3 {
  margin: auto;
}
footer .social a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.2em 0.8em;
}
footer .social a:hover {
  color: black;
  background-color: gainsboro;
  border-radius: 0.71em;
}
footer .row .col-sm-4 ul {
  margin: auto;
  text-align: center;
  list-style-type: none;
}

/*  TABLETTE de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: 0px;
    padding: 0;
    justify-content: center;
  }

  .page-container {
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1024px;
  }

  /* La section concernant les images des produits*/
  .bloc .container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: auto;
  }
  .bloc .container .row .col-sm-6 {
    border: 2px solid black;
    width: 45%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.5em;
  }
  .bloc .container .row .col-sm-6 img {
    width: 100%;
    height: 16em;
    margin: auto;
    margin: -0.1em -0.1em -0.1em -0.1em;
    object-fit: cover;
    border-radius: 0.5em;
    border: 2px solid transparent;
  }
  .bloc .container .row .col-sm-6 h3, .bloc .container .row .col-sm-6 .description, .bloc .container .row .col-sm-6 .text-center {
    text-align: center;
    border: 1px solid gray;
    margin: 0.2em 0 0.2em 0;
  }
}
.container-produits {
  width: 100%;
}
.container-produits .produit {
  width: 45%;
  height: auto;
  margin-right: 4%;
  margin-bottom: 1.5em;
  padding-top: 0;
}
.container-produits .produit p {
  color: black;
  text-align: center;
  padding: 0em 0.5em;
  margin: 0;
}
.container-produits .produit h2 {
  margin: 0;
  font-size: 1.6em;
}
.container-produits .produit img {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  width: 100%;
  height: 13em;
  margin-top: 1em;
  object-fit: cover;
}
.container-produits .produit .ahref {
  margin: 1em 0em 1.5em 0em;
}
.container-produits .produit a {
  background-color: #ececf5;
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Les mobiles */
@media screen and (max-width: 599px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .page-container {
    min-width: 320px;
    margin: auto;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
  }

  .container-produits {
    display: flex;
    flex-direction: column;
  }
  .container-produits .produit {
    width: 90%;
  }
  .container-produits .produit .photo img {
    margin: -0.1em -1em 0em -1em;
  }

  .produit-seul .produit {
    background-color: #f1eded;
    width: 95%;
  }
  .produit-seul .produit .photo {
    margin: auto;
  }
  .produit-seul .produit .photo img {
    width: 90%;
    height: 15em;
    margin: 0 -1em 0 -1em;
    object-fit: cover;
    border-radius: 0;
  }
  .produit-seul .bloc .divbtn {
    display: flex;
    flex-direction: row;
  }
  .produit-seul .bloc .divbtn .btn {
    font-size: 0.9em;
  }

  .bloc .container .col-sm-12 .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 {
    margin-top: 0.5em;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 ul {
    display: flex;
    flex-direction: row;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 ul li {
    margin-right: 2%;
    font-size: 0.9em;
  }
  .bloc .container .col-sm-12 .row .col-sm-3 {
    margin: auto;
  }
  .bloc .container .col-sm-12 .row .col-sm-3 a {
    font-size: 0.8em;
  }
}
/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    margin: 0;
    padding: 0;
  }
}
/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
