@charset "UTF-8";
/* DESKTOP and sup */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.page-container {
  display: block;
  height: auto;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0px;
  padding-top: 0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  text-align: center;
  width: 90%;
  font-size: 1.7em;
  margin: 1em auto;
}

h2 {
  font-size: 1.1em;
  text-align: center;
}

.bloc,
main,
.bloc .container,
.section-form,
.section-form .container {
  margin: auto;
  width: 95%;
}

.l-bloc {
  background-color: rgba(156, 146, 127, 0.459);
  border-radius: 1em;
}

.l-bloc .navbar {
  border: 1px solid #e3e3f5;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.l-bloc .navbar .partie-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.l-bloc .navbar .partie-logo p {
  margin: 0;
  padding: 0;
}

.l-bloc .navbar .partie-logo .textorinoco {
  font-size: 2.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: "Pangolin", sans-serif;
}

.l-bloc .navbar .partie-logo p img {
  width: 5em;
  height: auto;
  font-size: 1em;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-bloc .navbar .collapse {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.l-bloc .navbar .collapse .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.l-bloc .navbar .collapse .nav li {
  padding: 0.3em 0.7em;
  background-color: rgba(230, 230, 230, 0.7);
  border: 2px solid #c4bfbf;
  margin: auto;
  margin-right: 1em;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  font-weight: bold;
  border-radius: 1em;
}

.nav > li:hover {
  border: 2px solid #405c86;
  -webkit-box-shadow: 1px 3px 2px gray;
          box-shadow: 1px 3px 2px gray;
  text-shadow: #0d0d0e 2px 3px 5px;
}

.container-produits {
  width: 95%;
  height: auto;
  padding: 1em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-produits .produit {
  width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 3%;
  margin-bottom: 1em;
  padding-top: 0.2em;
  border: 1px solid #e6e6e6;
  background-color: gainsboro;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  border-bottom-right-radius: 1.51em;
  border-bottom-left-radius: 1.51em;
}

.container-produits .produit p {
  text-align: center;
}

.container-produits .produit h2 {
  margin: 0;
  font-size: 1.3em;
}

.container-produits .produit .description {
  margin: 0 1em 0 1em;
}

.container-produits .produit .price {
  font-weight: bold;
  font-size: 1em;
}

.container-produits .produit p {
  margin-bottom: 0em;
}

.container-produits .produit p img {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  width: 100%;
  height: 20em;
  padding: 0;
  margin: 0.3em -0.3em 0 -0.3em;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-produits .produit .ahref {
  margin: 1em 0em 1.5em 0em;
}

.container-produits .produit a {
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.container-produits .produit a:hover {
  opacity: 0.7;
  border: 0.07em solid #aeaeae;
  font-size: 1em;
  color: #853f3f;
}

.produit-seul {
  border: 0.1em solid whitesmoke;
  width: 95%;
  /* section page produit : quantité */
}

.produit-seul .produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 0.1em;
  margin-bottom: 2em;
  margin: auto;
  background-color: rgba(180, 180, 180, 0.1);
  border: 0.01em rgba(208, 205, 205, 0.9) solid;
}

.produit-seul .produit .photo {
  width: 90%;
  text-align: center;
  margin: auto;
}

.produit-seul .produit .photo img {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  width: 100%;
  height: 25em;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.produit-seul .produit .divCouleur {
  text-align: center;
  font-size: 1em;
}

.produit-seul .produit .divCouleur option {
  background-color: pink;
}

.produit-seul .produit .divCouleur label {
  font-size: 1em;
  font-weight: bold;
}

.produit-seul .produit .description {
  margin: 0.2em 1em 0.2em 1em;
  padding: 0.5em;
  font-size: 1.1em;
  background-color: rgba(225, 225, 225, 0.31);
}

.produit-seul .produit .price {
  margin: 0.3em 0.2em 0.3em 0.5em;
  font-size: 1.2em;
  text-align: center;
  font-family: "Pangolin", sans-serif;
}

.produit-seul .produit .titre {
  font-size: 1.5em;
  margin: 0.3em 0.5em 0.2em 0.5em;
  font-family: "Pangolin", sans-serif;
}

.produit-seul .divContainQtePrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.3em 0 0 0;
  padding-top: 0.1em;
  margin: auto;
  font-weight: bold;
}

.produit-seul .divContainQtePrix .pQuantiteProduit {
  margin: .5em;
  margin-right: 1.5em;
  font-size: 1.2em;
}

.produit-seul .divContainQtePrix .pQuantiteProduit .quantiteProduit {
  background-color: rgba(179, 240, 155, 0.294);
}

.produit-seul .divContainQtePrix .pQuantiteProduit .quantiteProduit option {
  background-color: rgba(236, 205, 230, 0.082);
}

.produit-seul .divContainQtePrix .price {
  margin: .5em;
  font-size: 1.1em;
}

.produit-seul .divContainQtePrix .price .insertPrice {
  margin-left: 1em;
  background-color: #f0f0f0;
  padding: 0.2em 1em;
}

.produit-seul .bloc {
  border-top: 0.1em dashed #000005;
  margin-top: 0.5em;
}

.produit-seul .bloc .divbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.produit-seul .bloc .divbtn .ajout {
  cursor: pointer;
}

.produit-seul .bloc .divbtn .ajout:hover {
  opacity: 0.8;
}

a {
  color: #000;
  text-decoration: none;
}

.panier {
  height: auto;
  border: 0.1em dotted #0f0c0c;
}

.panier .divbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panier .divbtn .btn {
  margin: 0.5em auto;
}

.panier .bloc .container .totalColonne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5em;
  text-decoration: none;
}

.panier .bloc .container .totalColonne span {
  font-weight: bold;
  margin-right: 1em;
  font-size: 1.1em;
  font-family: cursive;
}

.panier .bloc .container .totalColonne span:last-child {
  padding: 0.1em 1em;
  border: 0.1em solid #f1e6e6;
  background-color: #e1e1e1;
}

.panier .bloc .container .produit {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panier .bloc .container .produit table {
  width: 90%;
}

.panier .bloc .container .produit table .thead tr th {
  border: 2px solid #9fceee;
  font-size: 1em;
  margin-right: 5px;
  background-color: #ebebeb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panier .bloc .container h2 {
  text-align: left;
  margin-left: 4em;
  font-size: 1.1em;
  text-decoration: underline;
}

.card .container a {
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em auto;
  border-radius: 1em;
  height: auto;
  background-color: #fafafa;
}

.section-form {
  width: 85%;
}

.section-form .container {
  width: 100%;
}

.section-form .container .form_1 {
  width: 95%;
  height: auto;
  margin: auto;
}

.section-form .container .divbtn input {
  cursor: pointer;
  font-weight: bold;
}

/* formulaire pour PANIER COORDONNEES */
.form_1 fieldset {
  margin-bottom: 0.7em;
  border: 0.01em dotted #ff7d45;
  background-color: rgba(238, 238, 30, 0.924);
}

.form_1 .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 80%;
  margin-bottom: 1em;
}

.form_1 .form-group label {
  font-size: 1.1em;
  margin-right: 0.3em;
  font-weight: bold;
}

.form_1 .form-group input {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2em 0.2em 0.2em 0.2em;
  border: 2px solid gray;
  text-align: center;
  border-radius: 0.3em;
  font-size: 1em;
  width: 100%;
  background-color: #f3f3f3;
}

.form_1 .divbtn {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: white;
  border: 0.01em solid transparent;
}

.form_1 .divbtn .btn {
  margin: auto;
  text-align: center;
  margin: 0.51em auto 0.5em auto;
}

.form_1 .divbtn input {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: 2px solid rgba(202, 202, 247, 0);
  margin: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #b492df), to(rgba(238, 66, 95, 0.555)));
  background: linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
}

.form_1 .form-group:first-child {
  margin-top: 0.5em;
}

.page-container main .btn {
  text-align: center;
  padding: 0.4em 0.7em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.51em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #b492df), to(rgba(238, 66, 95, 0.555)));
  background: linear-gradient(0deg, #b492df 5%, rgba(238, 66, 95, 0.555) 100%);
}

/* Special footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  background-color: rgba(49, 19, 19, 0.2);
  border-radius: 1em;
  padding-bottom: 1em;
}

footer .col-sm-12 h2 {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

footer .col-sm-12 .social {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  border-bottom: 0.2em solid #d9dfdc;
}

footer .col-sm-12 .social .col-sm-3 {
  margin: auto;
}

footer .col-sm-12 .social a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  padding: 0.2em 0.8em;
}

footer .col-sm-12 .social a:hover {
  color: black;
  background-color: gainsboro;
  border-radius: 0.71em;
}

footer .row .col-sm-4 ul {
  margin: auto;
  text-align: center;
  list-style-type: none;
}

/*  TABLETTE de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: 0px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-container {
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1024px;
  }
  /* La section concernant les images des produits*/
  .bloc .container .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    height: auto;
  }
  .bloc .container .row .col-sm-6 {
    border: 2px solid black;
    width: 45%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.5em;
  }
  .bloc .container .row .col-sm-6 img {
    width: 100%;
    height: 16em;
    margin: auto;
    margin: -0.1em -0.1em -0.1em -0.1em;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5em;
    border: 2px solid transparent;
  }
  .bloc .container .row .col-sm-6 h3,
  .bloc .container .row .col-sm-6 .description,
  .bloc .container .row .col-sm-6 .text-center {
    text-align: center;
    border: 1px solid gray;
    margin: 0.2em 0 0.2em 0;
  }
}

.container-produits {
  width: 100%;
}

.container-produits .produit {
  width: 45%;
  height: auto;
  margin-right: 4%;
  margin-bottom: 1.5em;
  padding-top: 0;
}

.container-produits .produit p {
  color: black;
  text-align: center;
  padding: 0em 0.5em;
  margin: 0;
}

.container-produits .produit h2 {
  margin: 0;
  font-size: 1.6em;
}

.container-produits .produit img {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  width: 100%;
  height: 13em;
  margin-top: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-produits .produit .ahref {
  margin: 1em 0em 1.5em 0em;
}

.container-produits .produit a {
  background-color: #ececf5;
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Les mobiles */
@media screen and (max-width: 599px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .page-container {
    min-width: 320px;
    margin: auto;
    padding: 0px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
  }
  .l-bloc {
    background-color: rgba(156, 146, 127, 0.459);
    border-radius: 1em;
  }
  .l-bloc .navbar {
    border: 1px solid #e3e3f5;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-bloc .navbar .partie-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-bloc .navbar .partie-logo p {
    margin: 0;
    padding: 0;
  }
  .l-bloc .navbar .partie-logo .textorinoco {
    font-size: 2em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
    font-family: "Pangolin", sans-serif;
  }
  .l-bloc .navbar .partie-logo p img {
    width: 2em;
    height: auto;
    font-size: 1em;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .l-bloc .navbar .collapse {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-bloc .navbar .collapse .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style-type: none;
  }
  .l-bloc .navbar .collapse .nav li {
    padding: 0.2em 0.4em;
    margin-bottom: 1em;
    background-color: rgba(230, 230, 230, 0.7);
    border: 2px solid #c4bfbf;
    margin: auto;
    margin-right: 1em;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-radius: 1em;
  }
  .container-produits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-produits .produit {
    width: 90%;
  }
  .container-produits .produit .photo img {
    margin: -0.1em -1em 0em -1em;
  }
  .produit-seul .produit {
    background-color: #f1eded;
    width: 95%;
  }
  .produit-seul .produit .photo {
    margin: auto;
    padding: 0;
  }
  .produit-seul .produit .photo img {
    padding: 0;
    width: 100%;
    height: 15em;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
  .produit-seul .bloc .divbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .produit-seul .bloc .divbtn .btn {
    font-size: 0.9em;
  }
  .bloc .container .col-sm-12 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 {
    margin-top: 0.5em;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bloc .container .col-sm-12 .row .col-sm-4 ul li {
    margin-right: 2%;
    font-size: 0.9em;
  }
  .bloc .container .col-sm-12 .row .col-sm-3 {
    margin: auto;
  }
  .bloc .container .col-sm-12 .row .col-sm-3 a {
    font-size: 0.8em;
  }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    margin: 0;
    padding: 0;
  }
}

/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */