/* DESKTOP and sup */
$color-primaire: #b492df; //1ere couleur //
$color-secondaire: rgba(238, 66, 95, 0.555);

body{
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 255);
}
.page-container{
  display: block;
  height: auto;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0px;
  top: 5px; 
  box-sizing: border-box;
}
.bloc, main, .bloc .container, .section-form, .section-form .container{
  border: 5px solid red;
  margin: auto;
  width: 95%;
}
.bloc .navbar{
  background-color: red;
  width: 94%;
  border: 3px dotted blue;
  margin: auto;
}
.bloc .divbtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  a{
    color: #000;
    text-decoration: none;
  }  
} 
.container .card{
  background-color: violet;
  border: 2px dotted orangered;
  .table{
    width: 95%;
    margin: auto;
    background-color: white;
    tr th{
      border: 2px solid black;
      font-size: 1.1em;
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  }
  h2{
    text-align: left;
    margin-left: 4em;
    font-size: 1.5em;
    text-decoration: underline;
  }
}
.card .container{
  width: 80%;
  .divbtn{
    display: block;
    margin: auto;
  }
}
main div .divbtn{
  border: 3px solid green;
}
.card .container a{
  text-decoration: none;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
  margin: auto;
  height: auto;
}

/* formulaire form de panier*/
.section-form{
  width: 85%;
  border: green 5px double;
  .container{
    width: 100%;
    .form_1{
      width: 95%;
      height: auto;
      margin: auto;
    }
  }
}
.form_1{
  background-color: yellow;
  border: 2px red dotted;
  .form-group{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    label{
      font-size: 1.1em;
      font-weight: bold;
      margin-right: 1em;
      width: 25em;
    }
    input{
      width: 60%;
      justify-content: center;
      padding: .3em 0em .3em 1em;
      border: 2px solid gray;
      border-radius: .1em;
      font-size: 1.1em;
    }
  }
  .divbtn{
    display: flex;
    margin: auto;
    border: 2px double orchid;
    .btn{
      margin: auto;
      text-align: center;
      margin: auto;
      margin: .51em auto .5em auto;      
    }
  }
  .form-group:first-child{
    margin-top: .5em;
  }
}
/*button with backgcolor */
main .divbtn{
  display: flex;
  margin: auto;
  border: 3px chartreuse solid;
  
  .valid{
    display: block;
    flex-direction: row;
    text-align: center;
    margin: 0;
    background-color: red;
  
    
  }
  
}
.page-container main .btn{
  text-align: center;
  padding: .4em 0.7em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .51em;
  background: -webkit-linear-gradient(0deg, $color-primaire 5%, $color-secondaire 100%);
  background: -moz-linear-gradient(0deg, $color-primaire 5%, $color-secondaire 100%);
  background: -o-linear-gradient(0deg, $color-primaire 5%, $color-secondaire 100%);
  background: linear-gradient(0deg, $color-primaire 5%, $color-secondaire 100%);
  
}
.page-container main button:hover, 
.page-container main .btn:hover{
  cursor: pointer;
  color: #000;
  opacity: .6;
}

h1{
  text-align: center;
  width: 90%;
  font-size: 1.7em;  
}
h2{
  font-size: 1.2em;
  text-align: center;
}
/* La section concernant les images des produits*/
.bloc .container .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  height: auto;
  .col-sm-6{
    border: 2px solid black;
    width: 45%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    border-radius: .5em;
    img{
      width: 100%;
      height: 20em;
      margin: -0.1em -0.1em -0.1em -0.1em;
      object-fit: cover;
      border-radius: .5em;
      border: 2px solid transparent;
    }
    h3, .description, .text-center{
      text-align: center;
      border: 1px solid gray;
      margin: .2em 0 .2em 0;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7em;
  padding: 0.5em 0.5em;
  background-color: yellow;
  margin: auto;
}

.navbar-header{
  width: 50%;
  margin: 0;
  padding: 0;
  align-items: center;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  font-family: 'Pangolin', sans-serif;
  img {    
    margin: .3em .5em .5em 1em;
    height: auto;
    object-fit: cover;
    display: inline-block;
    width: 20%;
    border: 2px dotted orangered;
  }
  span{
    position: absolute;
    margin-top: 0.5em;
    display: inline;    
    width: 20%;
    text-align: center;
    font-size: 3em;  
    margin-left: 2%;  
    font-family: 'Pangolin', sans-serif;
    border: 2px solid black;
  }  
}


.navbar-collapse{
  display: inline-block;
  padding: 0;
  width: 50%;
}

.navbar-nav{
  display: inline-block;
  flex-direction: row;
  margin-right: 1em; 
  border: 2px dotted red;
  background-color: yellow;
  list-style-type: none;
  
}

.navbar .nav {
  padding-top: 2px;
  margin-right: 16px;
  float: right;
  list-style-type: none;
  z-index: 1;
}
.nav > li {
  float: left;
  font-size: 1.5em;
  margin-right: 0.5em;
  border-radius: 2em;
  padding: .3em 1em;
  background-color: rgba(190, 190, 190, 0.51);
  border: 2px solid rgba(196, 191, 191, 1);    
}
.navbar-nav .open .dropdown-menu > li > a {
  text-align: inherit;
}
.nav-item{
  background-color: rgba(190, 190, 190, 0.71);
  a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #000;
  }
  a .fas{
    margin-right: .2em;
  }
}
.nav-item:hover{
  background-color: rgba(190, 190, 190, 0.41);
}

.nav > li a:hover,
.nav > li a:focus {
  opacity: 0.7;
}
.navbar-toggle:hover {
  background: gray!important;
}
.navbar-toggle {
  background-color: rgba(0, 0, 0, .41);
  margin-left: -1em;
  width: 2.5em;
  height: 2em;
}
.nav-invert .navbar .nav {
  float: left;
}
.nav-invert .navbar-header,
.nav-invert .navbar-brand {
  float: right;
  position: relative;
  z-index: 2;
}


/* Effet sur img bloc-4 forfolio agrandi sur bouton defil left right*/
a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}
a[data-lightbox]:hover::before {
  content: "+";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
  //margin-left: -25px;
  margin-left: 50%;
  margin-right: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  justify-content: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img {
  opacity: 0.6;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}
#lightbox-modal {
  display: flex;
  align-items: center;
}
#lightbox-modal .modal-dialog {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 0;
}
#lightbox-modal .modal-dialog img {
  max-height: 90vh;
  margin: 0 auto;
}
.lightbox-caption {
  padding: 20px;
  color: #FFF;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 5px;
}
.close-lightbox {
  color: #FFF;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: rgba(0, 0, 0, .5);
  border: none;
  line-height: 30px;
  padding: 0 9px 5px;
  opacity: 0.3;
}
.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
  opacity: 1.0;
  color: #FFF;
}
.next-lightbox,
.prev-lightbox {
  font-size: 20px;
  color: rgba(255, 255, 255, .9);
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: 0.4;
}
.next-lightbox {
  padding: 6px 8px 1px 13px;
  right: 25px;
}
.prev-lightbox {
  padding: 6px 13px 1px 10px;
  left: 25px;
}
.snapshot-lb .modal-body {
  padding-bottom: 45px;
}
.snapshot-lb .lightbox-caption {
  padding: 0;
  color: rgba(0, 0, 0, .5);
  background: none;
}
footer{
  .social{
    width: 90%;
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1em;
    a{
      color: rgba(0, 0, 0, .7);
      font-weight: bold;
      text-decoration: none;
      padding: 0.2em 0.8em;
    }
    a:hover{
      color: rgba(0, 0, 0, 1);
      background-color: rgba(220, 220, 220, 1);
      border-radius: .71em;
    }    
  }
}

/*  TABLETTE de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: 0px;
    padding: 0;
    justify-content: center;
  }
  .page-container{  
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    justify-content: center;  
    box-sizing: border-box;
    max-width: 1024px;
  }
  /* La section concernant les images des produits*/
.bloc .container .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  height: auto;
  .col-sm-6{
    border: 2px solid black;
    width: 45%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    border-radius: .5em;
    img{
      width: 100%;
      height: 16em;
      margin: auto;
      margin: -0.1em -0.1em -0.1em -0.1em;
      object-fit: cover;
      border-radius: .5em;
      border: 2px solid transparent;
    }
    h3, .description, .text-center{
      text-align: center;
      border: 1px solid gray;
      margin: .2em 0 .2em 0;
    }
  }
}

}


/* Les mobiles */
@media screen and (max-width: 599px){
  body{  
    margin: 0px;
    padding: 0px;      
  }
  .page-container{
    min-width: 320px;
    margin: auto;  
    padding: 0px 0px 0px 0px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
  }
  /* La section concernant les images des produits*/
.bloc .container .row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: auto;
  .col-sm-6{
    border: 2px solid black;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 1.5em;
    border-radius: .5em;
    img{
      width: 100%;
      height: 15em;
      object-fit: cover;
      border-radius: .5em;
      border: 2px solid transparent;
    }
    h3, .description, .text-center{
      text-align: center;
      border: 1px solid gray;
      margin: .2em 0 .2em 0;
    }
  }
}


}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {    
    margin: 0;
    padding: 0;
  }
  .page-container{
    margin: auto;
  }
}
  
/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    margin: 0;
  }
  .page-container{
    margin: auto;
  }
}